<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <div class="my-info">
                <div class="photo">
                    <img src="../img/foto_perfil.jpg" alt="perfil photo" />
                </div>
                <div class="details">
                    <div class="name">Gutemberg Silva Filho</div>
                    <div class="job">Web Developer</div>
                </div>
            </div>
            <i class='bx bx-left-arrow-alt' id="hide-menu" onclick=showSideBar()></i>
            <i class='bx bx-arrow-from-left' id="show-menu" onclick=showSideBar()></i>
            <ul class="nav_list">
                <li>
                    <a href="#">
                        <i class='bx bx-user-circle'></i>
                        <span class="link-name">About me</span>
                    </a>
                    <span class="tooltip">About me</span>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-list-check'></i>
                        <span class="link-name">Skills</span>
                    </a>
                    <span class="tooltip">Skills</span>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bxs-certification'></i>
                        <span class="link-name">Certificates</span>
                    </a>
                    <span class="tooltip">Certificates</span>
                </li>
                <li>

                    <a href="#">
                        <i class='bx bxs-contact'></i>
                        <span class="link-name">Contact</span>
                    </a>
                    <span class="tooltip">Contact</span>
                </li>
            </ul>
            <div class="sidebar-logo-name">
                <div class="sidebar-logo">G</div>
                <div class="sidebar-name">{port.ID}</div>
            </div>
        </div>

        <div class="header">

        </div>
        <section class="center-content">
            <div class="content">

            </div>
        </section>
        <div class="footer">

        </div>

    </div>



    <script src='../scripts/index.js'></script>

</body>

</html>