*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Roboto;
}

.container{
    background: #f1faee;
}

.sidebar{
    position: fixed;
    width: 240px;
    height: 100%;
    background: #264653;
    }

.sidebar .my-info{
    display: block;
    text-align: center;
}

.sidebar .my-info .details{
    margin-top: 20px;
}


.sidebar .my-info .details .name{
    color: #f1faee;
    font-size: 20px;
    line-height: 40px;
    font-weight: 600;
}


.sidebar .my-info .details .job{
    color: #9347ff;
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
    border: 1px solid #f1faee;
    border-radius: 15px;
    margin: 0px 50px;
    padding: 5px 0;
}

.sidebar .my-info .photo img{
    position: relative;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    top: 20px;
    border: 2px solid #f1faee;
}

.sidebar ul{
    margin-top: 50px;
}

.sidebar ul li{
    position: relative;
    width: 90%;
    margin: 15px 10px;
    height: 50px;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li a{
    color: #f1faee;
    font-size: 18px;
    align-items: center;
    border-radius: 5px;
    display: flex;
    text-decoration: none;
    white-space: nowrap;
    transition: all 0.3s ease-in;
    
}

.sidebar ul li i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar ul li a:hover{
    background: #f1faee;
    color: #1d3557;
    
}

.sidebar #menu{
    font-size: 35px;
    position: absolute;
    padding: 5px 5px;
    right:-40px;
    top: 50%;
    transition: all 0.5s linear;
    cursor: pointer;
}

.sidebar #menu:hover{
    transform: rotateY(180deg);
    transition: all 0.5s linear;
}




