*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Roboto;
}

html{
    font-size: 16px;
}

body{
    display: flex;
    background: #2e2e2e;
}

.container{
    width: 100%;
    height: 100%;
}

.sidebar{
    position: fixed;
    width: 70px;
    height: 100%;
    background: #264653;
    background: #293241;
    transition: all 0.4s linear;
    }

.sidebar.active{
    transition: all 0.4s linear;
    width: 240px;
}

.sidebar .my-info{
    display: block;
    text-align: center;
}

.sidebar .my-info .details{
    margin-top: 30px;
}


.sidebar .my-info .details .name{
    color: #f1faee;
    font-size: 1.2rem;
    line-height: 40px;
    font-weight: 600;
    opacity: 0;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
}

.sidebar.active .my-info .details .name{
    opacity: 1;
}
.sidebar .my-info .details .job{
    color: #9347ff;
    color: #00f5d4;
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
    border: 1px solid #f1faee;
    border-radius: 15px;
    margin: 0px 50px;
    padding: 5px 0;
    white-space: nowrap;
    text-shadow: 0px 0px 3px #00f5d4;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.sidebar.active .my-info .details .job{
    opacity: 1;
}

.sidebar .my-info .photo img{
    position: relative;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    top: 20px;
    border: 2px solid #f1faee;
    transition: all 0.3s linear;
}

.sidebar.active .my-info .photo img{
    width: 80px;
    height: 80px;
}

.sidebar ul li{
    position: relative;
    width: 90%;
    margin: 0px 10px;
    height: 100px;
    list-style: none;
    transition: all 0.3s ease-in-out;
}

.sidebar ul li .tooltip{
    position: absolute;
    top: 20px;
    left: 100%;
    white-space: nowrap;
    background: #9347ff;
    padding: 10px 10px;
    border-radius: 5px;
    color: #f1faee;
    opacity: 0;
    z-index: 1;
    transition: all 0.4s ease;
    pointer-events: none;
}

.sidebar ul li a:hover ~ .tooltip{
    opacity: 1;
    transform:translateY(-20px);
}

.sidebar.active ul li a:hover ~ .tooltip{
    opacity: 0;
}

.sidebar.active ul li .tooltip{
    opacity: 0;
}

.sidebar.active ul li {
    height: 50px;
}

.sidebar ul li a{
    color: #f1faee;
    font-size: 18px;
    align-items: center;
    border-radius: 5px;
    display: flex;
    padding: 15px 0px;
    text-decoration: none;
    margin-right: 13px;
    white-space: nowrap;
    transition: background  0.3s ease-in-out;

}

.sidebar.active ul li a{
    margin-right: -5px;
    margin: 15px 0px;
    padding: 0px 0px;
}

.sidebar ul li a .link-name{
    transition: 0.3s ease;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active ul li a .link-name{
    opacity: 1;
    pointer-events: initial;
}

.sidebar ul li i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar ul li a:hover{
    background: #f1faee;
    color: #293241;

}

.sidebar #show-menu{
    font-size: 30px;
    position: absolute;
    padding: 5px 5px;
    right:-40px;
    top: 50%;
    transition: all 0.3s linear;
    z-index: 1;
    color: #f1faee;
    cursor: pointer;
}

.sidebar #show-menu:hover{
    transform: scale(1.2);
    transition: all 0.1s linear;
}

.sidebar.active #show-menu{
    transition: all 0.2s ease;
    transform:rotateY(180deg);
    z-index: 0;
    opacity: 0;
}

.sidebar #hide-menu{
    font-size: 30px;
    position: absolute;
    padding: 5px 5px;
    right:-40px;
    top: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    color: #f1faee;
    z-index: 0;
    opacity: 0;
}

.sidebar.active #hide-menu{
    opacity: 1;
    z-index: 1;
}

.sidebar.active #hide-menu:hover{
    transform: scale(1.2);
    transition: all 0.1s linear;
}

.sidebar .sidebar-logo-name{
    position: absolute;
    bottom: 0px;
    width: 70px;
    display: flex;
    background: #9347ff;
    background: #5a189a;
    padding: 15px 0px;
    border-radius: 5px;
    align-items: center;
    white-space: nowrap;
    transition: all 0.4s linear;
}

.sidebar.active .sidebar-logo-name{
    width: 240px;
}

.sidebar .sidebar-logo-name .sidebar-logo{
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 50px;
    color: #f1faee;
    margin-left: 13px;
    transition: all 0.4s linear;
}
.sidebar.active .sidebar-logo-name .sidebar-logo{
    transform: translateX(100%);
}
.sidebar .sidebar-logo-name .sidebar-name{
    font-family: 'Bebas Neue', cursive;
    color: #f1faee;
    font-size: 30px;
    opacity: 0;
    transform: translateX(1%);
    transition: all 0.2s ease-in-out;
}

.sidebar.active .sidebar-logo-name .sidebar-name{
    opacity: 1;
    transform: translateX(58%);
    transition: all 0.5s ease-in-out;
}

.container .center-content{
    display: flex;
    margin: 0px 300px;
    transform: translateY(200px);
}

.container .center-content .content{
}

.container .center-content .content .info-head .info-head-nome{
    font-size: 4rem;
    color: #f1faee;
}

.container .center-content .content .info-head .info-head-sobrenome{
    font-size: 2.5rem;
    position: relative;
    left: 8%;
    white-space: nowrap;
    text-align: right;
    color: #f1faee;
}

.center-content .content .info-head .info-photo img{
    position: absolute;
    width: 500px;
    height: 500px;
    transform:rotateY(180deg);
}

@media (max-width: 960px){
    .container .center-content .content .info-head .info-head-nome{
        font-size: 3rem;
    }
    .container .center-content{
        display: flex;
        margin: 0px 130px;
        transform: translateY(200px);
    }

    .sidebar #show-menu{
        opacity: 0;
        pointer-events: none;
    }
    .sidebar #hide-menu{
        opacity: 0;
        pointer-events: none;
    }

}

@media (max-width: 960px){
    .container .center-content .content .info-head .info-head-sobrenome{
        font-size: 1.5rem;
    }
}


